@charset "utf-8";
/* 웹폰트 연결 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #333;
    overflow-x: hidden; /* x축에서 벗어나는 것 숨김 처리 (가로 스크롤바 없앨 때 */
}

/* ✨✨✨ header ✨✨✨*/
header {
    width: 100%;
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; /* 맨 앞으로 불러오기라고 생각하면 됨. px이 아닌 숫자로 함 */
    background-color: #023586;
    color: #fff;
}

header .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    position: relative
}
header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0; /* h1이 가지고 있는 고유한 font-size는 없애는게 좋음  */
}
header .inner nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
header .inner nav >ul >li /*직계만. 1차 메뉴에만 적용 */ {
    display: inline-block;
    vertical-align: top; /* inline_block 적용 됐을 때만 사용 가능. 위쪽 정렬 */
    line-height: 90px;
    margin: 0 12px;
}
header .inner .search {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%); /* 수직 가운데 정렬. y축만 */
    font-size: 0;
}
header .inner nav > ul >li .depth02 {
    background-color: rgb(255, 255, 255);
    color: #333;
    display: none; /* 없애기 */
}

header .inner nav > ul >li .depth02 li {
    line-height: 1; /* 초기화 시키기 */
    padding: 10px;
}
header .inner nav > ul >li:hover .depth02 {
    /* li에 마우스 올렸을 때 depth02가 어떻게 나타나게 할건지 */
    display: block;
}
header .inner .search img {
    width: 16px;
    height: 16px;
    
}
header .inner nav .right_gnb {
    margin-right: 40px;
}

/* ✨✨✨.main_visual ✨✨✨ */
.main_visual {
    display: flex;
    margin-top: 90px;
}
.main_visual figure {
    width: 640px;
    height: 793px;

}
.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ✨✨✨.cont01 ✨✨✨ */

.cont01 {
    width: 1440px;
    margin: 160px auto;
}
.cont01 h3 {
    font-size: 48px;
    margin-bottom: 30px;
}
.cont01 .list {
    display: flex;
    justify-content: space-between;

}
.cont01 .list .item {
    width: 464px;
    height: 571px;
    position: relative;
}
.cont01 .list .item figure {
    width: 100%;
    height: 100%;
}
.cont01 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .list .item div {
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: #fff;
}
.cont01 .list .item div h4 {
    font-size: 28px;
    margin-bottom: 16px;
}
.cont01 .list .item div p {
    line-height: 1.3;
}

/* ✨✨✨.cont02 ✨✨✨ */
.cont02 {
    width: 1440px;
    margin: 0 auto;
}
.cont02 h3 {
    font-size: 48px;
    margin-bottom: 30px;
}
.cont02 .list {
    display: flex;
    justify-content: space-between;
    /* flex있을 때만 밑으로 떨어지게 하는 태그 */
    flex-wrap: wrap;
}
.cont02 .list .item {
    width: 708px;
    height: 342px;
    margin-bottom: 40px;
}
.cont02 .list .item a {
    display: flex;
    justify-content: space-between;
}
.cont02 .list .item a div {
    width: 342px;
}
.cont02 .list .item figure {
    width: 342px;
    height: 100%;
}

.cont02 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont02 .list .item a div p:first-of-type {
    font-size: 14px;
    color: #023586;
}

.cont02 .list .item a div h4 {
    font-size: 24px;
    margin: 20px 0 18px;
    line-height: 31px;
}
.cont02 .list .item a div p:nth-of-type(2) {
    word-break: keep-all;
    line-height: 1.3;
}
.cont02 .list .item a div p:nth-of-type(3) {
    font-size: 14px;
    margin-top: 25px;
}

/* ✨✨✨.cont03 ✨✨✨ */
.cont03 {
    width: 1440px;
    margin: 120px auto 160px;
}
.cont03 h3 {
    font-size: 48px;
    margin-bottom: 30px;
}
.cont03 .list {
    display: flex;
    justify-content: space-between;
}
.cont03 .list .item {
    width: 342px;
}
.cont03 .list .item figure {
    width: 100%;
    height: 342px;
    position: relative;
}

.cont03 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item figure p {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    padding: 0 25px;
    color: #fff;
    background-color: #023586;
    line-height: 30px;
    font-size: 14px;
}
.cont03 .list .item div h4 {
    font-size: 20px;
    margin:20px 0 15px;
    line-height: 1.3;
    height: 50px;
    word-break: keep-all;
}
.cont03 .list .item div p {
    font-size: 14px;
    color: #797979;
}

/* ✨✨✨.text_animation ✨✨✨ */
.text_animation {
    height: 65px;
    width: 2400px;
    background-color: #023586;
    color: #fff;
}
.text_animation p {
    display: inline-block;
    font-size: 20px;
    line-height: 65px;
    margin: 0 80px;
}

/* ✨✨✨.cont04 ✨✨✨ */
.cont04 {
    margin: 160px auto;
    width: 1440px;
}
.cont04 h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.cont04 ul {
    text-align: center;
    margin-bottom: 30px;
}
.cont04 ul li {
    display: inline-block;
    font-size: 22px;
    color: #adb4c1;
    margin: 0 28px;
}
.cont04 ul li:first-child {
    color: #333;
}
.cont04 .list {
    display: flex;
    justify-content: space-between;
}
.cont04 .list .item {
    width: 342px;
}
.cont04 .list .item figure {
    width: 100%;
    height: 380px;
}
.cont04 .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont04 .list .item div h4 {
    font-size: 20px;
    margin: 20px 0 16px;
}
.cont04 .list .item div p {
    color: #797979;
    margin-bottom: 25px;
}
.cont04 .list .item div strong {
    font-size: 20px;
}

/* ✨✨✨.cont05 ✨✨✨ */
.cont05 .title h3 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.cont05 .title p {
    font-size: 22px;
    text-align: center;
    color: #797979;
}
.cont05 .list {
    display: flex;
    margin-top: 30px;
}
.cont05 .list figure {
    width: 320px;
    height: 320px;
}
.cont05 .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* 여백 없애기 */
}

/* ✨✨✨.cont06 ✨✨✨ */
.cont06 {
    background-color: #e5e5e5;
    padding: 160px 0;
}
.cont06 .inner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cont06 .inner div {
    width: 464px;
    height: 250px;
    background-color: #fff;
    padding: 30px 40px;
    box-sizing: border-box;
    position: relative;
}
.cont06 .inner div h3 {
    font-size: 28px;
    margin-bottom: 16px;
}
.cont06 .inner div p {
    color: #797979;
    line-height: 1.3;
    word-break: keep-all;
}
.cont06 .inner div a {
    display: block;/* inline요소라서 block설정 해줘야 크기 조정 됨 */
    width: 120px;
    height: 30px;
    background-color: #023586;
    color: #fff;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;

    position: absolute;
    bottom: 30px;
    left: 40px;
}
/* ✨✨✨footer✨✨✨ */
footer {
    background-color: #454a56;
}
footer .inner {
    width: 1440px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
footer .inner strong {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}
footer .inner div ul li {
    font-size: 14px;
    margin-bottom: 16px;
}
footer .inner .footer_logo li {
    display: inline-block;
    margin-right: 10px;
}
footer .inner .footer_logo li:first-child {
    display: block; /* 혼자 한줄 쓰게 */
    margin-bottom: 20px;
}
footer .inner .footer_logo li:first-child img {
    height: 40px;

}

footer .inner .footer_logo li img {
    height: 34px; /* height만 하면 가로값 알아서 적용 */
    
}

footer .inner .footer_sns ul li {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 50%;
    position: relative;
}
footer .inner .footer_sns ul li img {
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .inner .footer_sns ul li:first-child img {
    width: 13px;
}
footer .inner .footer_sns p {
    width: 200px;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 44px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}
footer .inner .footer_sns p img {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

footer .footer_bottom ul li {
    display: inline-block;
    color: #fff;
    font-size: 13px;
}
footer .footer_bottom ul li span {
    margin: 0 4px;
}
footer .footer_bottom ul {
    text-align: center;
}
footer .footer_bottom ul li:nth-child(2) a{
    color: red;
}
footer .footer_bottom p {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #999;
    margin-top: 10px;
}